.light-mode {
  transition: background-color 0.3s ease-in;
  color: #2d2d2d;
  background-color: #2d2d2d;
  transition: color 0.3s ease-in;
  section {
    transition: color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    background: white;
  }
  nav {
    background: #2d2d2d;
    a {
      color: white;
    }
  }
}

.dark-mode {
  transition: background-color 0.3s ease-in;
  transition: color 0.3s ease-in;
  color: white;
  background-color: #ffffff;
  section {
    transition: color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    background: #2d2d2d;
  }
  nav {
    background: white;
    a {
      color: #2d2d2d;
    }
  }
}
