.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  a {
    text-decoration: none;
    font-size: 2rem;
    justify-self: center;
    align-self: center;
  }
}
