.about {
  @include page-defaults;
  h1 {
    display: block;
    grid-row: 1;
    grid-column: 1;
  }
  p {
    display: block;
    grid-row: 1 / -1;
    grid-column: 1;
    align-self: center;
    margin: 9rem 0 0 0;
    padding: 0 3rem;
  }
}
