// The form can be styled how you desire. I just threw something together
// To actually have something there. Right now I'm using grid to align
// It on the second row, but could easily be changed.
.contact {
  @include page-defaults;
  &--list {
    align-self: center;
    font-size: 2rem;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    span {
      padding: 0 0.75rem 0 0;
    }
  }
  &--resume {
    justify-self: center;
    align-self: end;
    margin: 0 0 4.5rem 0;
  }
}
