.projects {
  grid-column: 1;
  margin: 3rem 0;
  h1 {
    padding: 3.75px 6rem;
    font-size: 2.8rem;
  }
  p {
    padding: 3.75px 6rem;
    margin-bottom: 5px;
  }
  span {
    font-size: 1.9rem;
    font-weight: 900;
  }
  hr {
    width: 87%;
    margin: 0 auto;
  }
}
